* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}

body {
}

a {
    text-decoration:none;
    color:rgba(0, 0, 0)
}

a:visited {
    text-decoration:none;
    color:rgba(0, 0, 0)
}

h3 {
    font-weight: 500;
}

.container {
    max-width: 1100px;
    margin-top: 200px;
    margin-inline: auto;
}

.row {
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 4px;
    margin: 10px 0;
    padding: 15px 10px;
}

.row:hover {
    background-color: rgb(245, 245, 245);
    transform: scale(1.01);
    cursor: pointer;
}

.row-cntr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-section, .mid-section {
    width: 33%;
}

.mid-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 50%;
    margin: auto;
}

.mid-right-section {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1ch;
}

.right-section {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apply {
    background-color: rgb(255, 71, 66);
    color: white;
    font-weight: 700;
    border-radius: 6px;
    font-family: Nunito;
    padding: 15px 50px;
    border: none;
}

.apply:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.company, .position {
    font-size: 17px;
}

.location {
    font-size: 12px;
    text-transform: uppercase;
}
.tag {
    border: 2px solid rgb(15, 15, 15);
    border-radius: 5px;
    margin: 3px;
    padding: 5px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

.custom-shape-divider-top-1630188080 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1630188080 svg {
    position: relative;
    display: block;
    width: calc(163% + 1.3px);
    height: 157px;
}

.custom-shape-divider-top-1630188080 .shape-fill {
    fill: #ff4742;
}
